* {
    
    
    box-sizing: border-box;  /*Todo va dentro del borde */ 
}

html {
    scroll-behavior: smooth;   /*Que se mueva suave */
}


img,
video,
iframe {
    max-width: 100%;
}

img {
    height: auto;
    display: block;
}

a {
    text-decoration: none;
}

ul {
    list-style-position: inside; /*Ni idea */ /*Respeta el margen del elemento contenedor */ 
}

body{
    margin: 0;
}