* {
    
    
    box-sizing: border-box;  /*Todo va dentro del borde */ 
}

html {
    scroll-behavior: smooth;   /*Que se mueva suave */
}


img,
video,
iframe {
    max-width: 100%;
}

img {
    height: auto;
    display: block;
}

a {
    text-decoration: none;
}

ul {
    list-style-position: inside; /*Ni idea */ /*Respeta el margen del elemento contenedor */ 
}

body{
    margin: 0;
}

h1 {
    font-size: clamp(1.5rem, 5vw, 3rem);
}

p {
    font-size: clamp(1rem, 2vw, 1.25rem);
}