/* ==========================================================================
Main - Animaciones
========================================================================== */


/* 1. La nueva clase unificada para el hover */
.tarjeta-animada:hover {
  -webkit-animation: avanzar-con-sombra 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: avanzar-con-sombra 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* 2. Las instrucciones combinadas sin conflictos */
@-webkit-keyframes avanzar-con-sombra {
  0% {
    -webkit-transform: scale(1) translateZ(0);
            transform: scale(1) translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(252, 243, 229);
            box-shadow: 0 0 0 0 rgba(252, 243, 229);
  }
  100% {
    -webkit-transform: scale(1.1) translateZ(50px);
            transform: scale(1.1) translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(252, 243, 229);
            box-shadow: 0 0 20px 0px rgba(252, 243, 229);
  }
}

@keyframes avanzar-con-sombra {
  0% {
    -webkit-transform: scale(1) translateZ(0);
            transform: scale(1) translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(252, 243, 229);
            box-shadow: 0 0 0 0 rgba(252, 243, 229);
  }
  100% {
    -webkit-transform: scale(1.1) translateZ(50px);
            transform: scale(1.1) translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(252, 243, 229);
            box-shadow: 0 0 20px 0px rgba(252, 243, 229);
  }
}

/* ==========================================================================
Main - Estilos Generales e Inputs
========================================================================== */

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}


input[type="text"], input[type="email"], input[type="password"], input[type="datetime"], input[type="number"], textarea{
    width: 100%;
    padding: 12px 16px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: 0.3s;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="number"]:focus, textarea:focus {
    border-color: #4f6d5a; /* Color de enfoque */
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.3); /* Efecto brillante */
    font-size: 25pt;
}

input[type="text"]:hover, input[type="email"]:hover, input[type="password"]:hover, input[type="datetime"]:hover, textarea:hover{
border-color: #4f6d5a; /* Color de enfoque */
    box-shadow: 0 0 1rem #4f6d5a; /* Efecto brillante */
    font-size: 25pt;
}

button:hover {
border-color: #a63a50; /* Color de enfoque */
    box-shadow: 0 0 1rem #a63a50; /* Efecto brillante */
    text-shadow: 0 0 1rem #cbb9a3
}

input[type="radio"] {
  /* Duplica el tamaño original de la bolita */
  transform: scale(2); 
  /* Añade margen para que no se pegue al texto */
  margin-right: 10px; 
}

input[type="file"] {
    font-size: 25pt;
}

/* ==========================================================================
Inicio de sesion y Registrar
========================================================================== */


.InicioSesion,.Registrar, .ConfigurarPerfil{
background-color: #cbb9a3;
    padding: 7rem;
        min-width: 67rem;

    padding-top: 0;
    border-radius: 6rem;
    margin-top: 2rem;
    border: 0.5rem solid #4f6d5a;
    display: none; /*Es flex*/
    flex-direction: column;
        box-shadow: 1rem 1rem 1rem #4f6d5a; /* Efecto brillante */
}

.InicioSesion {
    display: flex;
}

.Registrar div {
font-size: 24pt;
display: flex;
gap: 2rem;
}


.InicioSesion h1, .Registrar h1, .ConfigurarPerfil h1 {
font-size: 56pt;
margin-bottom: 3rem;
align-self: center;
    border-bottom: 0.5rem solid #4f6d5a;
}

.InicioSesion p,.Registrar p, .ConfigurarPerfil p{
font-size: 34pt;
margin-bottom: 1rem;
border-bottom: 0.2rem solid #897056;
}

.InicioSesion button, .Registrar button, .ConfigurarPerfil button{
    margin-top: 5rem;
        border-radius: 6rem;            /* Convierte el cuadrado en un círculo perfecto */
    height: 4.5rem;
margin-left: auto;
    margin-right: auto;
    width: 60%;
    background-color: #a63a50;
    border-color: #a63a50;
    align-items: center;
    align-content: center;
    position: relative;
    font-size: 37pt;
    color: white;
}



.InicioSesion .Registro .ConfigurarPerfil{
    font-size: 24pt;
        margin-top: 0.3rem;
}



/* ==========================================================================
Perfil
========================================================================== */

/*Estructura General y Fondo*/
.Perfil{
    background-color: #897056;
    width: 100vw; /*Agarra toda la pantalla*/
    min-height: 100vh;
    color: #fcf3e5;
    display: none; /*Es block*/
}


/*Banner*/

.Perfil .banner{
    width: 100vw; /*Agarra toda la pantalla*/
    height: 40rem;
    background-color: #a63a50;
    overflow: hidden;
    
    z-index: 0;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: fill; /* Fuerza el estiramiento completo */
}

/*Perfil: Sección de Información (Contenedor y Columnas)*/


.Informacion{
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
    flex-direction: row;
    border-top: 0.5rem solid #653d19;
}

/* Columna Izquierda */
.Informacion .columna-izquierda {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 2%;
}

.Informacion .columna-izquierda img {
    width: 15rem;
    height: 15rem;
    object-fit: cover; /* Fuerza el estiramiento completo */
    border-radius: 50%;
}

.Informacion .columna-izquierda button{
    margin-top: 5rem;
    border-radius: 6rem;            /* Convierte el cuadrado en un círculo perfecto */
    width: 56%;
    background-color: #a63a50;
    border-color: #a63a50;
    align-items: center;
    align-content: center;
    position: relative;
    font-size: 20pt;
    color: white;
}

/* Columna Central */
.Informacion .columna-central {
    display: block;
    padding-right: 40%;
    border-left: 0.5rem solid #653d19;
    padding-left: 1%;
}

.Informacion .columna-central h1 {
    font-size: 56pt;
    text-align: left;
    margin-bottom: 0;
}

.Sobre-mi {
    font-size: 25pt;
    text-align: left;
}

.Contacto {
    font-size: 20pt;
    margin-top: 0;
    text-align: left;
}


/* Columna Derecha */
.Informacion .columna-derecha {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    padding-right: 2%;
    justify-content: flex-end;
    flex-direction: column-reverse;
}

.Informacion .columna-derecha button{
    margin-top: 5rem;
    border-radius: 6rem;            /* Convierte el cuadrado en un círculo perfecto */
    height: 4.5rem;
    background-color: #a63a50;
    border-color: #a63a50;
    align-items: center;
    align-content: center;
    position: relative;
    font-size: 20pt;
    color: white;
}





/* Separador Visual */


.Separador {
    background-color: #653d19;
    width: 100vw;
    height: 0.5rem;
}


/* Sección Álbum de Fotos (Cabecera e Información) */


.InformacionAlbum{
    display: flex;
    margin-top: 1%;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2%;
    padding-left: 2%;
}

.InformacionAlbum p{
    font-size: 45pt;
    gap: 2%;
    margin: 0;
}

.InformacionAlbum button{
    border-radius: 6rem;            /* Convierte el cuadrado en un círculo perfecto */
    height: 4.5rem;
    background-color: #a63a50;
    border-color: #a63a50;
    align-items: center;
    align-content: center;
    position: relative;
    font-size: 20pt;
    color: white;
}

/* Sección de Grid de Fotos (Cajitas) */

.Album{
    width: 100%;
    height: 100%;
}

.Cajitas {
    display: grid;
    /* 1. Quitamos grid-auto-flow: column para que respete tus filas y columnas normales */
    grid-template-columns: repeat(5, 1fr); /* Tus 5 columnas */
    grid-template-rows: repeat(2, auto);    /* 2. Usamos 'auto' en vez de '1fr' para que la fila mida solo lo necesario */
    align-items: start;                     /* Alinea las cajas arriba y evita que se estiren verticalmente */
    justify-items: center;
        gap: 50px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
} 

.Cajitas div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #CBB9A3;
    border-radius: 2rem;
    overflow: hidden;
    padding: 0;
    justify-content: flex-start;
    align-items: center;
}

.Cajitas div img {
    width: 100%;             /* Ocupa todo el ancho de izquierda a derecha */
    height: 250px;           /* Controla la altura fija. Ajusta este número a tu gusto */
    object-fit: cover;       /* Recorta la imagen para que llene el espacio sin deformarse */
    display: block;          /* Elimina espacios vacíos rebeldes en la base de la imagen */
}

.Cajitas div p {
    font-size: 24pt;         /* Elimina espacios vacíos rebeldes en la base de la imagen */
}

/* ==========================================================================
Perfil: Configuración (Oculto)
========================================================================== */

.ConfigurarPerfil {
    display: none; /*Es flex*/
}
